@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

body {
    background-color: black;
}

/* HEADING*/
.head{
    color: rgb(223, 168, 68);
    text-align: center;
    font-family: 'Fascinate', cursive;
    font-size: 30px;
    margin-top: -50px;
}
button{
    margin-top: -250px;
}

.input{
    color: white;
}

canvas{
    background-color: white;
}

.footer{
    color: white;
    text-align: center;
}